# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/izone
mongodb+srv://anirudhjagath43:9f9ldBeb8FSvoHOk@cluster0.dvabgwe.mongodb.net/

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Next.js Configuration
NEXT_PUBLIC_API_URL=http://localhost:3000 